{% extends 'base.html' %}

{% block title %}Estoque Geral{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ titulo }}</h1>

    <form class="d-flex mb-4" method="GET">
        </form>
    
    <a href="{% url 'estoque:adicionar_item' %}" class="btn btn-primary mb-3">
        ➕ Adicionar Novo Item
    </a>
    <a href="{% url 'estoque:historico_movimentacoes' %}" class="btn btn-secondary mb-3 ms-2">
        Histórico de Movimentações
    </a>
    
    {% if itens %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="acoes text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr class="{% if item.precisa_repor %}table-danger{% endif %}">
                        <td class="acoes text-center">
                            <a href="{% url 'estoque:editar_item' pk=item.id %}" class="btn btn-sm btn-info me-2">Editar</a> 
                            <a href="{% url 'estoque:registrar_movimentacao' pk=item.id %}" class="btn btn-sm btn-success me-2">Movimentar</a> 
                            <a href="{% url 'estoque:deletar_item' pk=item.id %}" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% endif %}

{% endblock %}
